{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}
<main>
   <section class="presentation">
      <div class="introduction">
         <div class="intro-text">
            <h1>Recommendation Letter Generator</h1>
            <p>
               This is an official portal from Pulchowk Campus
               for the process of making <br>Recommendation Letter
               for students willing to proceed their further studies foreign.
            </p>
         </div>


         <div class="cta">
            <a href="/registerStudent"><button class="cta-add">Register Student</button></a>
            <a href="{% url 'registerProfessor' %}"><button class="cta-add"> Register as Professor</button></a>
            <a href="/loginStudent"><button class="cta-add">I am a Student</button></a>
            <a href="/loginTeacher"><button class="cta-add">I am a Professor</button></a>
         </div>
      </div>
      {% comment %} <div class="cover">
         <img src="../static/images/img/character.svg" alt="character" />
      </div> {% endcomment %}
   </section>
</main>
{% endblock body %}

{% block footer %}

<style>
   /*for rolling text*/
   /* Container for the rolling text at the bottom */
   .rolling-text-container {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 30px;
     overflow: hidden;
     /* background-color: #333;  */
     /* Optional: Add background color to the banner */
   }
   
   /* The actual text that will move */
   .rolling-text {
     display: inline-block;
     color: #c36cbb; /* Optional: Change text color */
     padding: 10px 0;
     font-size: 12px; /* Optional: Adjust font size */
     animation: scroll-left 30s linear infinite;
   }
   
   /* Keyframes for scrolling the text horizontally */
   @keyframes scroll-left {
     from {
       transform: translateX(100%);
     }
     to {
       transform: translateX(-100%);
     }
   }
</style>   

<div class="rolling-text-container">
   <div class="rolling-text">
     CONTRIBUTED BY 076 BCT : ROSHAN NEUPANE, SAROJ BARAL, SAGAR KUMAR THAPA, SAURAV BASTOLA &nbsp; &nbsp; &nbsp; &nbsp; 078 BCT : ANUJ SHRESTHA,
     ARISHA PRASAIN, AYUSH ADHIKARI
   </div>
 </div>
{% endblock footer %}